/* CSS file for style */
@import url('https://fonts.googleapis.com/css2?family=Cambay&display=swap');


#about_header{
  padding-left: 50px;
}

#navbar {
  background-color: darkred;
}

#about{
  padding-left: 50px
}


.body_text {
  font-family: "Cambay", Cambay;
  color: black;
  font-size: 16px;
  text-align: justify;
  line-height: 20px;
  padding-right: 50px;
  padding-left: 50px;
}

.head_text{
  font-family: "Cambay", Cambay;
  color: black;
  font-size: 30px;
  text-align: left;
  padding-left: 10px
}

.sign_image {
  margin-right:15px;
  margin-bottom:10px;
}

#navbar ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  text-align: right;
}

#navbar li {
  width: 5%;
  padding: 10px;
  display: inline-block;
  line-height: 40px;
}

#navbar a {
  color: white;
  text-decoration: none;
}

.flex {
  display: flex;
  flex-wrap: nowrap;
  background-color: darkred;
  justify-content: center;
}

.flex > div {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex > div img {
  height: 200px;
  width: auto;
  max-width: 100%;
  object-fit: contain;
}