/* CSS file for style */
@import url('https://fonts.googleapis.com/css2?family=Cambay&display=swap');

#font{
  font-family: "Cambay", Cambay;
}


.boxed {
  display: flex;
  align-items: center;
  justify-content: center;
 }


.info {
  font-size: 3.2vw;
  color: rgb(222, 216, 216);
  padding-left: 10vw;
  padding-right: 10vw;
  width: 50%;
  height: 50%;
  display: block;
  text-align: center;
}

#graph{
  width: 100%;
  height: 100%;
  padding-left: 8vw;
}

.body_text {
  color: rgb(222, 216, 216);
  font-size: 2.5vw;
  text-align: justify;
  line-height: 3.2vw;
  padding-right: 20vw;
  padding-left: 20vw;
}

.head_text{
  color: rgb(222, 216, 216);
  font-size: 5vw;
  text-align: left;
  padding-left: 20vw;
}

.sign_image {
  margin-right:15px;
  margin-bottom:10px;
}

#navbar {
  background-color: rgb(32, 31, 31);
}

#navbar ul {
  list-style-type: none;
  padding: 0;
  text-align: right;
  margin-right: 0;
}

#navbar li {
  width: 7.5%;
  display: inline-block;
  line-height: 40px;
  margin-right: 25px;
}

#navbar a {
  color: rgb(222, 216, 216);
  text-decoration: none;
}


.flex {
  margin-right: 20vw;
  margin-left: 20vw;
  margin-bottom: 7vw;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.flex > div {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex > div img {
  height: 15vw;
  width: auto;
  max-width: 100%;
  object-fit: contain;
}

#slogan{
  text-align: center;
  color: rgb(222, 216, 216);
  font-size: 5vw;
}

#click{
  background-color: rgb(107, 180, 117);
  font-size: 3vw;
  color: rgb(222, 216, 216);
  width: 20vw;
  height: 6vw;
  font-family: "Cambay", Cambay;
}

iframe {
  border: solid;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 10vw;
  width: 60vw;
  height: 40vw;
  margin-bottom: 10vw
}

/*   Copyright [2025] [Tara Pandey and Dalton Soper]

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0 */