/* CSS file for style */
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono&display=swap');

.normal_text {
  font-family: "Atkinson Hyperlegible Mono", Atkinson Hyperlegible Mono;
  color: red;
}

.black_text {
  font-family: "Atkinson Hyperlegible Mono", Atkinson Hyperlegible Mono;
  color: black;
  background-color: red;
}

#navbar {
  background-color: darkred;
}

#navbar ul {
  list-style: none;
  width: 20%;
  margin: 0 auto;
  padding: 0;
  background-color: black;
  text-align: center;
}

#navbar li {
  width: 5%;
  background-color: black;
  border: 3px solid navy;
  padding: 10px;
  display: inline-block;
  line-height: 40px;
}

#navbar a {
  color: white;
  text-decoration: none;
}